:root{
    --gold-color:#754604;
    --my-black-color:#0a0a0a;
    --text-color:#f1f1f1;
}
body,html {
    height: 100%;
    width:100%;
    margin:0px;
    background-color: var(--my-black-color);

}

.main-container {
    font-family: 'Source Sans Pro', sans-serif;  
    height:100%;
    width:100%;
    margin:0px;
    padding: 0px;
    background-color:var(--my-black-color);
}
.main-image{
     /* The image used */
  background-image: url("./images/IMG_8397.JPG");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.main-nav {
    min-height: 60px;
    color: var(--text-color);
    font-size: 20px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    right: 0;
}
.nav-bottom {
    height:10%;
    position: fixed;
    bottom:0;
    left:0;
    display:flex;
    flex-direction: column;
    
    justify-content: space-around;
    margin: 20px;
    color: var(--text-color);
    font-size: 25px;
}
.nav-icon{
    padding:20px;
    margin:20px;
}
ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:40%;
}
.nav-logo{
    display:inline;
    margin:20px; 
}
.nav-link{
    display:flex;
    flex-direction: row;
    margin:10px;
    
}

    
.home-page-inner-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100%;
}
h1{
    font-size: 60px;
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: var(--text-color);
    padding:5px;
    margin:5px;
}
h2 {
    color: var(--text-color);
    font-size:40px;
    background-color: #0a0a0a41;
    padding:5px;
    margin:5px;
}

.page-section {
    width:100%;
}

.inner-container{
    display:flex;
    flex-direction: column;
    height:1450px;
    width:80%;
    margin:10%;
}
.first-section {
    display:flex;
    height:600px;
    border-color: var(--gold-color);
    border-style: solid;
    border-width: 1px;
}
.second-section {
    display:flex;
    flex-direction: column;
    height:250px;
}
.third-section {
    display:flex;
    height:600px;
    border-color: var(--gold-color);
    border-style: solid;
    border-width: 1px;
}

.first-section-image{
    background-image: url("./images/_MG_8366.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    width:50%;
    height:600px;
    border-right: var(--gold-color) solid 1px;
    border-bottom: var(--gold-color) solid 1px;
}
.section-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    height:600px;
    border-bottom: var(--gold-color) solid 1px;
}
.section-h2{
    margin:50px 0 50px 0;
}
p{
    color: var(--text-color);
    margin:15px;
    padding:20px;
    font-size: 15px;
}

.second-inner-container{
    display:flex;
    height:250px;
    flex-direction: row;
    border-bottom: var(--gold-color) solid 1px;
    border-left: var(--gold-color) solid 1px;
}
.square {
    border-right: var(--gold-color) solid 1px;
    width:25%;
    height:250px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.big-icon{
    margin-top:20px;
    font-size: 60px;
    color:var(--gold-color);
}
.square-text{
    font-size:20px;
    color:var(--gold-color);
}

.third-section-image{
    background-image: url("./images/IMG_8397.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    width:50%;
    height:600px;
    border-left: var(--gold-color) solid 1px;
    border-bottom: var(--gold-color) solid 1px;
}
.realization-main-container{
    margin:10%;
    width:80%;
    height:1000px;
    border: var(--gold-color) solid 1px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.realization-title{
    padding:30px;
}
.realization-photos-container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
}

.realization-left-section{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;

}
.realization-right-section{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.realization-photo-right-container{
    height:80%;
    width:80%;
    border: var(--gold-color) solid 1px;
    position:relative;
}
.realization-photo-container {
    height:40%;
    width:30%;
    border: var(--gold-color) solid 1px;
    position:relative;
}
.realization-photo-container2 {
    height:30%;
    width:40%;
    border: var(--gold-color) solid 1px;
    position:relative;
}

.image-realization {
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
    height:100%;
    width:100%;
}
#first-realization{
    background-image: url("./images/IMG_8397.JPG");
}
#second-realization{
    background-image: url("./images/_MG_8366.JPG");    
}
#third-realization{
    background-image: url("./images/_MG_8366.JPG");    
}
#fourth-realization{
    background-image: url("./images/_MG_8366.JPG");    
}
#fifth-realization{
    background-image: url("./images/_MG_8366.JPG");    
}
.realization-photo-right-container:hover .image-realization,
.realization-photo-container:hover .image-realization,
.realization-photo-container2:hover .image-realization {
    opacity:0.3;
    cursor: pointer;
}
 
.text-realization {
    color: var(--text-color);
    opacity:0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.realization-photo-right-container:hover .text-realization,
.realization-photo-container:hover .text-realization,
.realization-photo-container2:hover .text-realization {
    opacity:1;
}
 
.button {
    padding:15px 20px;
    margin-bottom:50px;
    background-color: var(--my-black-color);
    border : solid 1px var(--gold-color);
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif; 
    font-size:25px;
    cursor: pointer;
    transition:0.5s ease-out
}
.button:hover {
    background-color: var(--gold-color);
}

.footer-section{
    margin:10%;
    height:300px;
    width:80%;
    border: solid 1px var(--gold-color);
    display:flex;
    flex-direction: row;
}
.footer-left-container{
    width:30%;
    height:100%;
    background-color: var(--gold-color);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-text{
    background-color: var(--gold-color);
    padding:20px;

}
.footer-right-container {
    width:70%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.contact-icon {
    height:50%;
    font-size: 30px;
    color: var(--gold-color);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.icon-text{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:10px;
}
.icon-main-text{
    font-size:20px;
    color: var(--text-color);
    padding:5px;
}
.icon-inner-text {
    font-size: 15px;
    color: var(--text-color);
}